@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Condensed&family=Ubuntu+Mono:wght@700&display=swap');
html{     font-size: 62.5%; }

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: mediumpurple;
}
.titresite > h1{
    display: block;
    position: relative;
}

.titresite > h1:before {
    content: url("llama.svg") ;
    width: 12px;
}


.top {
    background-color: #4C0A80;
    color: white;
    font-family: "Ubuntu Condensed";
    font-size: 1rem;
}